header{

  width: 30%;
  margin: auto;
}
h1 {
  text-align:center;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
p{
  text-align:center;
}
div img {
  display: block;
  margin: auto;
}
.sidebar{
  height: 100%;
  width: 20%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.5)
}
.sidenavlink{
  position:relative;
  top: 30%;
  left: 30%;
  padding: 5%;
  font-size: 20px;
  font-weight: bold;
}
.sidenavlink a{
  color: rgba(0,0,0,1)
}
#closebtn{
  font-weight: bold;
  position:absolute;
  top: 0;
  right: 0;
}
.frameContainer{
  background: #FF0000;
  width: 50%;
  margin: auto;
}
#frameId{
  display: block;
  margin: auto;
  width: 80%;
}
.dotless {
  list-style: none;
  text-align: center;
}
.pokeType {
  text-align: center;
  list-style: none;
}
.types {
  font-size: 20px;
  font-weight: bold;
}
#pokeTypeTitle {
  font-size: 30px;
  font-weight: bold;
}
.description {
  width: 30%;
  margin:0 auto;
}
.stats, td, th {
  border: 1px solid black;
  text-align: center;
  width: 30%;
  margin: 0 auto;
  table-layout: fixed;
}
.strnwkn{
  width: 30%;
  margin: 0 auto;
}
.strnwkn td, .strnwkn th{
  border: 0;
}
.elementType, .elementType tr, .elementType td {
  border: 1px solid black;
  text-align: center;
  width: 30%;
  margin: 0 auto;
  table-layout: fixed;
}
